html {
    margin: 2em;
    font-family: sans-serif;
}

h1 {
    margin: 1em 0em 1em 0em;
    font-size: 50px;
}

h3 {
    font-size: 20px;
}

body {
    max-width: 800px;
    margin: auto;
}

button {
    display: inline;
    margin: 0.5em;
    font-size: 20px;
    background-color: white;
    color: black;
    box-shadow: none;
    padding: 0.3em 1em 0.3em 1em;
    border-width: 0.1em;
    border-style: solid;
    border-color: black;
    cursor: pointer;
}

button:hover {
    border-color: grey;
    color: grey;
}

.demo-unit {
    display: inline-block;
    box-sizing: border-box;
    width: 50%;
    border-style: dotted;
    vertical-align: top;
    height: 600px;
}

.panel {
    display: block;
    text-align: center;
}

.content {
    font-size: 0; 
    display: block;
}

.label {
    text-align: center;
    width: inherit;
    font-size: 20px;
}